ul,li{
    list-style: none;
}
.main{
    width:1000px;
    height: 1500px;
    background:#FFE4E1; 
    margin: 0px auto;
}
.main nav{
    width: 1000px;
    height: 40px;
    background:#FFC1C1;
    border-radius:5px;
    float: left;
    margin-left:0px;
    margin-top: 0px;
}

.main nav ul li{
    width: 80px;
    height:40px;
    float: left;
    margin-top: -10px;
    margin-left: 20px;
    text-align: center;
}

.main nav ul li a{
    color:#FF1493;
    font-family: "微软雅黑";
    font-size: 20px;
}

.main nav ul li a:hover{
    font-weight: bold;
}

.title{
    color:#FF1493;
    font-family: "微软雅黑";
    font-size: 40px;
    float: left;
    margin-left:40px;
    margin-top: 10px;
}

.divframe{
    width: 1000px;
    height: 450px;
    margin: auto;
    position: relative;
}

.scroll_list ul{
    margin: 0px;
    padding: 0px;
}

.scroll{
    margin: 0 auto;
    width: 938px;
    float: left;
}

.scroll_list{
    width: 10000em;
    position: absolute;
}

.box{
    height: 450px;
    float: left;
    width: 1000px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

.box li{
    display: block;
    float: left;
    width: 1000px;
    height: 450px;
}

.box li a img{
    max-width: 1000px;
    max-height: 450px;
}

.box li:hover{
    color: #999;
}

a.prev,a.next{
    display: block;
    width: 42px;
    height: 67px;
    float: left;
    cursor: pointer;
    z-index: 50;
}

a.prev{
    position: absolute;
    left:10px;
    top:170px;
}

a.next{
    position: absolute;
    left: 950px;
    top:170px;
}

.xuanchuan{
    width: 1000px;
    height: 300px;
    margin-top: 0px;
    margin-left: 0px;
}

.main section ul li{
    width: 250px;
    height: 270px;
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    text-align: center;
}
.tupianzhanshi{
    width: 1000px;
    height: 600px;
    margin-top: 0px;
    margin-left: 0px;
}

.zuo{
    width: 490px;
    height: 460px;
    margin-top: 0px;
    margin-left: 0px;
}

.you{
    width: 490px;
    height: 460px;
    margin-top: 0px;
    margin-left: 0px;
}
.main footer footertop{
    
    
}




.main article guditupian{
    width: 1000px;
    height: 350px;
    margin-top: 10px;
    margin: auto;
}

.wenzi{
    margin-top: -250px;
    margin-left: 250px;
}

.main section huayu1 li a{
    color: #FF1493;
}

.huayu1{
    width: 1000px;
    height: 250px;
    margin-top: 210px;
}
.huayu{
    width: 1000px;
    height: 250px;
    margin-top: 30px;
}


.links{
    width: 1000px;
    height: 200px;
    margin-top: 130px;
}

.link01 a{
    width: 150px;
    height: 150px;
    float: left;
    font-size: 20px;
    display: -moz-box;
    margin-top: 110px;
    margin-left: 70px;
}

.kuang{
    width: 1000px;
    height: 900px;
    margin-top: 150px;
}

.kuang01{
    width: 1000px;
    height: 200px;
    background-color: #FFC1C1;
    margin-top: 20px;
    
}

.kuang01 a{
    float: left;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 120px;
    text-align: center;
    color: #FF1493;
}

.denglu{
    width:1000px;
    height: 600px;
    background:#FFE4E1; 
    margin: 0px auto;
}
.denglu nav{
    width: 1000px;
    height: 40px;
    background:#FFC1C1;
    border-radius:5px;
    float: left;
    margin-left: 0px;
    margin-top: 0px;
}

.denglu nav ul li{
    width: 80px;
    height:40px;
    float: left;
    margin-top: -10px;
    margin-left: 20px;
    text-align: center;
}

.denglu nav ul li a{
    color:#FF1493;
    font-family: "微软雅黑";
    font-size: 20px;
}

.denglu nav ul li a:hover{
    font-weight: bold;
}
.denglukuang{
    margin-top: 0px;
    width: 1000px;
    height: 600px;
}

.denglutu{
    float: left;
    margin-left: 130px;
    margin-top: 70px;
}

.dengluwenzi{
    float: left;
    margin-left: 100px;
    margin-top: 70px;
    font-size: 15px;
}

.div1{
    width: 200px;
    height: 30px;
    margin: 30px auto;
    border: 3px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    background-color: #FFAEB9;
    
}
.div2{
    width: 100px;
    height: 30px;
    margin: 30px auto;
    border: 3px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    background-color: #FFAEB9;
}

.mingxianziti{
    font-size: 15px;
}

























